//
   Created by anton_gorshenin on 24.04.2015.
extends layout
block content
    //#{devices}
    //#{devices._id.device_id}
    #header
        #logo
        #usermenu
            #username


    #tab
        ul(class='tabs')
            li(class='tab-link current' data-tab='devices') Devices
            li(class='tab-link' data-tab='users') Users
            li(class='tab-link' data-tab='filters') Filters
            li(class='tab-link' data-tab='settings') Settings
    #conteiner


        #mapPanel(class="panel panel-default")
            div(class="panel-heading") Maps
            #maps(class="panel-body")
                script.
                    var map = L.map('maps').setView([55.7422, 37.5719], 1);
                    // add an OpenStreetMap tile layer
                    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                    }).addTo(map);
                    // add a marker in the given location, attach some popup content to it and open the popup
                    var mark = L.marker([55.7422, 37.5719]);
                    mark.addTo(map)

        #devices(class='tab-content current')
            h2 Devices
            #filter
                form(class='form-search')
                    input(type="text" id="DeviceNameIDSerial" class='input-medium search-query input-xlarge' placeholder='Device name/ID/Serial' onkeyup="find()")
                    select(id='selectStatus' class="span2" onchange="find()")
                        option(value="" style='color:#cccccc') Select status
                        option(value='0') Ofline
                        option(value='1') Online
                    select(id="selectCategory" class="span2" onchange="find()")
                    select(id="selectVersion" class="span2" onchange="find()")


            #add-device
                a(data-target="#myModal" role="button" class="btn btn-primary" data-toggle="modal") add new device
                    //button(class='btn btn-primary')

            table(class='table table-hover table-bordered table-striped' id='paged')
                thead(id='target')
                    tr
                        th(onclick='socket.emit("regularizeId",)') id
                        th status
                        th school
                        th version
                        th map
                        th remove

                tbody(id='deviceTable')
            div(id='pagination' class='pagination pagination-centered')
            div(class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;")
                div(class="modal-header")
                    button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
                        i(class="icon-remove")
                    h3 Add new device
                div(class="modal-body")
                    form
                        p School
                        select(id="addSelectCategory")
                        br
                        p Version
                        select(id="addSelectVersion")
                        br
                        p Amount
                        input(id='amountDevice' type="number", name='number' min="1" value='1')

                div(class="modal-footer")
                    //button(class="btn btn-default" data-dismiss="modal" aria-hidden="true") Close
                    button(class="btn btn-primary" onclick='addDevice()') Add



                a(class='close-add' href='#close-add')
            script.
                function showmap(i, j) {
                    mark.setLatLng(L.latLng(i, j)).update()

                }
            script(src="/js/socketTableData.js")

        #filters(class='tab-content')
            h2 School category
            #add-category
                a(href='#createCategory' role="button" class="btn btn-primary" data-toggle="modal") add new category...
                    //button(class='btn btn-primary') add new category...
            table(class='table table-hover table-bordered table-striped')
                thead
                    tr
                        th(colspan='2') Category name
                tbody(id='tableFilter')


            div(class="modal" id="createCategory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;")
                div(class="modal-header")
                    button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
                        i(class="icon-remove")
                    h3 Create new category
                div(class="modal-body")
                    form(action='/createDevice')
                        div(class="input-append")
                            input(style='height: 34px' class="span3" size="16" id="newCategory" name='category')
                            button(class="btn btn-primary" onclick="createNewCategory()") Create
                        hr
                        p Add new Apk version:
                    form(method="post" action='/uploadFile' enctype="multipart/form-data")

                        input(type="file", name='category' value='')
                        button( type="submit" class="btn btn-primary") Add

            div(class="modal" id="editCategory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;")
                div(class="modal-header")
                    button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
                        i(class="icon-remove")
                    h3 Add new device
                div(class="modal-body")
                    form
                        input(type="input" id='newNameCategory')
                        button( type="button" onclick="inputNewNameCategory()") Edit

        #users(class='tab-content')
            h2 Users
            #add-users
                a(href='#addUsers' role="button" class="btn btn-primary" data-toggle="modal") add new user
                    //button(class='btn btn-primary') add new user
            table(class='table table-hover table-bordered table-striped')
                thead
                    tr
                        th id
                        th name
                        th remove
                tbody(id='userTable')
            div(class="modal" id="addUsers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;")
                div(class="modal-header")
                    button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
                        i(class="icon-remove")
                    h3 Add new device
                div(class="modal-body")
                    form
                        input(type="input")
                        button( type="button" onclick="socket.emit('editCategory')") Edit

        #settings(class='tab-content')
            h2 Settings

