//
   Created by anton_gorshenin on 24.04.2015.
extends layout
block content
    //#{devices}
    //#{devices._id.device_id}
    #header
        #logo
        #usermenu
            #username


    #tab
        ul(class='tabs')
            li(class='tab-link current' data-tab='devices') Devices
            li(class='tab-link' data-tab='users') Users
            li(class='tab-link' data-tab='filters') Filters
            li(class='tab-link' data-tab='settings') Settings
    #conteiner


        #mapPanel(class="panel panel-default")
            div(class="panel-heading") Maps
            #maps(class="panel-body")
                script.
                    var map = L.map('maps').setView([55.7422, 37.5719], 1);
                    // add an OpenStreetMap tile layer
                    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                    }).addTo(map);
                    // add a marker in the given location, attach some popup content to it and open the popup
                    var mark = L.marker([55.7422, 37.5719]);
                    mark.addTo(map)

        #devices(class='tab-content current')
            h2 Devices
            #filter
                form(class='form-search')
                    input(type="text" id="DeviceNameIDSerial" class='input-medium search-query input-xlarge' placeholder='Device name/ID/Serial' onkeyup="find()")
                    select(id='selectStatus' class="span2" onchange="find()")
                        option(value="" style='color:#cccccc') Select status
                        option(value='0') Ofline
                        option(value='1') Online
                    select(id="selectCategory" class="span2" onchange="find()")
                    select(id="selectVersion" class="span2" onchange="find()")


            #add-device
                a(href='#add')
                    button(class='btn btn-primary') add new device

            table(class='table table-hover table-bordered table-striped' id='paged')
                thead(id='target')
                    tr
                        th(onclick='socket.emit("regularizeId",)') id
                        th status
                        th school
                        th version
                        th map
                        th remove

                tbody(id='deviceTable')
            div(id='pagination' class='pagination pagination-centered')
            a(class='overlay', id='add', href='#x')
            .popap-add
                p Add new device
                form
                    p School
                    select(id="addSelectCategory")
                    br
                    p Version
                    select(id="addSelectVersion")
                    br
                    p Amount
                    input(id='amountDevice' type="number", name='number' min="1" value='1')

                    br
                    button(type="button" onclick='addDevice()') Add
                a(class='close-add' href='#close-add')



                a(class='close-add' href='#close-add')
            script.
                function showmap(i, j) {
                    mark.setLatLng(L.latLng(i, j)).update()

                }
            script(src="/js/socketTableData.js")

        #filters(class='tab-content')
            h2 School category
            #add-category
                a(href='#createCategory')
                    button(class='btn btn-primary') add new category...
            table(class='table table-hover table-bordered table-striped')
                thead
                    tr
                        th(colspan='2') Category name
                tbody(id='tableFilter')


            a(class='overlay', id='createCategory', href='#x')
            .popap-add
                p Add new category:
                form(action='/createDevice')

                    input(type="input" id="newCategory" name='category')
                    button(type="button" onclick="createNewCategory()") Add
                p Add new Apk version:
                form(method="post" action='/uploadFile' enctype="multipart/form-data")

                    input(type="file", name='category' value='')
                    button( type="submit") Add
                a(class='close-add' href='#close-add')

            a(class='overlay', id='editCategory', href='#x')
            .popap-add
                p Edit category:
                form
                    input(type="input" name='category')
                    //button( type="button" onclick="socket.emit('editCategory')") Edit

                a(class='close-add' href='#close-add')

        #users(class='tab-content')
            h2 Users
            table(class='table table-hover table-bordered table-striped')
                thead
                    tr
                        th id
                        th name
                        th remove
                tbody(id='userTable')
        #settings(class='tab-content')
            h2 Settings

