//
   Created by anton_gorshenin on 24.04.2015.
extends layout
block content
   //#{devices}
   //#{devices._id.device_id}
   #tab
      ul(class='tabs')
         li(class='tab-link current' data-tab='devices') Devices
         li(class='tab-link' data-tab='tab-2' onclick="socket.emit('getDevicesByCount',50)") Users
         li(class='tab-link' data-tab='filters') Filters
         li(class='tab-link' data-tab='settings') Settings



   #devices
      #add-device
         a(href='#add') add new device

      table(class='bordered' id='paged')
         thead(id='target')
            tr
               th id
               th registered
               th school
               th apk_version
               th map

         tbody(id='userTable')
      div(id='pagination')
      a(class='overlay', id='add', href='#x')
      .popap-add
         p Add new device
         form(method='post' action='/createDevice')
            p School
            select(name='school')
               option(placeholder='first') school &#8470;1
               option(placeholder='second') school &#8470;2
               option(placeholder='third') school &#8470;3
               option(placeholder='fourth') school &#8470;4
               option(placeholder='fifth') school &#8470;5
            br
            p Version
            input(type="number", name='apk' min="1" value='200')
            br
            p Amount
            input(type="number", name='number' min="1" value='1')

            br
            button(type='submit') Add
         a(class='close-add' href='#close-add')
      a(class='overlay', id='editCategory', href='#x')
      .popap-add
         p Edit category:
         form(action='/createDevice')

            input(type="input", name='category' value='category')
            button(type='submit') Edit
         a(class='close-add' href='#close-add')
      a(class='overlay', id='createCategory', href='#x')
      .popap-add
         p Add new category:
         form(action='/createDevice')

            input(type="input", name='category' value='')
            button( type="button" onclick="socket.emit('createCategory','test')") Add
         a(class='close-add' href='#close-add')

         //a(class='overlay', id='map', href='#x')
         //.popap-add
         //   #id='map'
         //      script(src="/map/map.js")
         //   a(class='close-add' href='#close-add')
      script.
         function showmap(i,j){
               mark.setLatLng(L.latLng(i,j)).update()
               .bindPopup('“ÛÚ')
                  .openPopup();
                  document.getElementById('map').classList.add('show');
            //console.log (i,j,map)
                  }


      #map(class='no-show')
         script.
            var map = L.map('map').setView([55.7422, 37.5719], 12);
            // add an OpenStreetMap tile layer
            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
               attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);
            // add a marker in the given location, attach some popup content to it and open the popup
            var mark = L.marker([55.7422, 37.5719]);
            mark.addTo(map)
                    .bindPopup('“ÛÚ')
                    .openPopup();
         button(onclick='closwmap()') close

      script(src="/js/socketTableData.js")

   #filters
      #add-category
         a(href='#createCategory') add new category...
      table
         thead
            tr
               th(colspan='2') Categoty name
         tbody(id='tableFilter')