//
   Created by anton_gorshenin on 24.04.2015.
extends layout
block content
   //#{devices}
   //#{devices._id.device_id}
   #tab
      ul(class='tabs')
         li(class='tab-link current' data-tab='tab-1') Devices
         li(class='tab-link' data-tab='tab-2' onclick="socket.emit('getDevices',2)") Users
         li(class='tab-link' data-tab='tab-3') Filters
         li(class='tab-link' data-tab='tab-3') Settings



   #devices
      #add-device
         a(href='#add') add new device
      //thead
      //   form(id='filter')
      //      input(id='id-name' type='text' class="search" placeholder="Device name/ID/Serial")
      //      select(name='search-online')
      //         option(value='online') online
      //         option(value='ofline') ofline
      //      select(name='search-online')
      //         option(value='1') school &#8470;1
      //         option(value='2') school &#8470;2
      //         option(value='3') school &#8470;3
      //         option(value='4') school &#8470;4
      //         option(value='5') school &#8470;5
      //      select(name='search-online')
      //         option(value='200') apk version 200
      //         option(value='201') apk version 201
      //         option(value='202') apk version 202
      //         option(value='203') apk version 203
      //      input(type='button' value="find")
      //input(id='id-name' type='text' class="search" placeholder="Device name/ID/Serial")
      //select(id='online-filtre')
      //   option(value='') Online
      //   option(value='true') true
      //   option(value='false') false
      //select(id='school-filtre')
      //   option(value='') number school
      //   option(value='school &#8470;1') 1
      //   option(value='school &#8470;2') 2
      //   option(value='school &#8470;3') 3
      //   option(value='school &#8470;4') 4
      //select(id='apk-filtre')
      //   option(value='') apk_version
      //   option(value='200') 200
      //   option(value='201') 201
      //   option(value='202') 202
      //   option(value='203') 203


      table(class='bordered' id='paged')
         thead(id='target')
            tr
               th id
               th registered
               th school
               //th timestamp
               //th none
               //th none
               th apk_version
               th map
         tfoot
             tr
                 th id
                 th registered
                 th school
                 //th timestamp
                 //th none
                 //th none
                 th apk_version
                 th map
         tbody(id='userTable')
   script(src="/js/socketTableData.js")