//
   Created by anton_gorshenin on 24.04.2015.
extends layout
block content
    script var socket = io();
    //#{devices}
    //#{devices._id.device_id}
    //#header
    //    #logo
    //    #usermenu
    //        #username
    //    //=====MENU NEW===============
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        .navbar-header
            a.navbar-brand(href='/dashboard') KIDROID
        ul.nav.navbar-right.top-nav
            li.dropdown
                a.dropdown-toggle(href="#" data-toggle="dropdown")
                    i.fa.fa-user
                    span(id='userName')
                ul.dropdown-menu
                    li
                        a(href='#')
                            i.fa.fa-fw.fa-power-off
                            span Sign out
        //    //=====LEFT MENU===============
        .collapse.navbar-collapse.navbar-ex1-collapse
            ul.nav.navbar-nav.side-nav.tabsMy
                li.active(data-tab='devices')
                    a(href="#")
                        i.fa.fa-fw.fa-dashboard
                        span Devices
                li(data-tab='users')
                    a(href="#")
                        i.fa.fa-fw.fa-user
                        span Users
                li(data-tab='filters')
                    a(href="#")
                        i.fa.fa-fw.fa-arrows-v
                        span Filters
                li(data-tab='settings')
                    a(href="#")
                        i.fa.fa-fw.fa-wrench
                        span Settings
                li(data-tab='requests')
                    a(href="#")
                        i.fa.fa-fw.fa-edit
                        span Request log
                li(data-tab='planning')
                    a(href="#")
                        i.fa.fa-fw.fa-table
                        span Planning
    #page-wrapper
        .container-fluid
            //===========TABS DEVICES=======================
            #devices(class='tab-content current row')
                h2 Devices
                fieldset
                    legend Filter:
                    #filter
                        form(class='form-search form-inline')
                            input(type="text" id="DeviceNameIDSerial" class='form-control' placeholder='Device name/ID/Serial' onkeyup="find()")
                            select(id='selectStatus' class="span2 form-control" onchange="find()")
                            input(id="selectCategory" placeholder='- School -' class="span2 form-control category" onchange="find()")
                            input(id="customFilter" placeholder='- Filter2 -' class="span2 form-control" onchange="find()")
                            select(id="marionetteVersion" class="span2 form-control" onchange="find()")
                            select(id="kidroidVersion" class="span2 form-control" onchange="find()")
                .col-sm-12
                    h4.col-sm-2
                    #add-device.col-sm-2
                        a(data-target="#addDevice" role="button" class="btn btn-primary" data-toggle="modal") Add New Device
                    h5.col-sm-2.col-sm-offset-6
                        label(for="ItemsPerPage").col-sm-7.control-label Items per page:
                        .form-group.col-sm-5
                            select(id="ItemsPerPage")
                                option(value='0') 10
                                option(value='20') 20
                                option(value='50') 50
                .col-lg-12.container-tab
                    table(class='table table-hover table-bordered table-striped' id='paged')
                        thead(class='tableTarget')
                            tr
                                th
                                    input(type="checkbox" id="checkboxWarning" value="option1")
                                th(onclick='find(sort(this))',data-sort="1",data-id="1") ID#
                                    .glyphicon.glyphicon-sort
                                th(onclick='find(sort(this))',data-sort="1",data-id="2") Device Name
                                    .glyphicon.glyphicon-sort
                                th(onclick='find(sort(this))',data-sort="1",data-id="3") APK version
                                    .glyphicon.glyphicon-sort
                                th(onclick='find(sort(this))',data-sort="1",data-id="4") Loader version
                                    .glyphicon.glyphicon-sort
                                th(onclick='find(sort(this))',data-sort="1",data-id="5") Device status
                                    .glyphicon.glyphicon-sort
                                th Options
                        tbody(id='deviceTable')
                            //button(class='btn btn-danger' type='button' onclick="dellDevice()") Delete
                div(id='pagination' class="text-center")
                #deployApk
                    fieldset
                        legend Marionette Deploy: (APK Deploy)
                        form(class='deployApk form-inline col-sm-12')
                            label(for="addSelectCategory").col-sm-3.control-label Apply to all devices in the current query
                                span(id="deployCount")
                            .col-sm-8
                                .col-sm-3
                                    select(id="selectVersionApkToDeploy" class="span2 form-control")
                                button(class="col-sm-2 btn btn-primary" onclick='deployAPK()') Start
                #deployKidroid
                    fieldset
                        legend Kidroid Loader Deploy:
                        form(class='deployApk form-inline col-sm-12')
                            label(for="addSelectCategory").col-sm-3.control-label Apply to all devices in the current query
                                span(id="deployCountKidroid")
                            .col-sm-8
                                .col-sm-3
                                    select(id="kidroidVersionDeploy" class="span2 form-control")
                                button(class="col-sm-2 btn btn-primary" onclick='deployKidroid()') Start
                //============MODAL Add new device=====================
                div(class="modal" id="addDevice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;")
                    .modal-dialog.modal-sm
                        .modal-content
                            div(class="modal-header")
                                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                    span(aria-hidden="true") &times;
                                h2 Add new device(s)
                            div(class="modal-body")
                                form.form-horizontal
                                    .form-group
                                        label(for="addSelectCategory").col-sm-3.control-label School:
                                        .col-sm-9
                                            select(id="addSelectCategory" class="form-control")
                                    .form-group
                                        label(for="filter2").col-sm-3.control-label Filter 2:
                                        .col-sm-9
                                            select(id="filter2" class="form-control")
                                    .form-group
                                        label(for="addSelectVersion").col-sm-4.control-label APK version *:
                                        .col-sm-8
                                            select(id="addSelectVersion" class="form-control")
                                    .form-group
                                        label(for="amountDevice").col-sm-5.control-label Device amount *:
                                        .col-sm-7
                                            input(id='amountDevice' type="number", name='number' min="1" value='1' class="form-control")
                                    .form-group
                                        label(for="commentDevice").col-sm-5.control-label Comment:
                                        .col-sm-12.margin-top-5
                                            textarea(id='commentDevice' class="form-control" rows="3")
                            div(class="modal-footer")
                                //button(class="btn btn-default" data-dismiss="modal" aria-hidden="true") Close
                                div(id='errorAddDevice' class='alert alert-danger no-show .col-lg-1')
                                    //button(type="button" class="close" data-dismiss="alert") &times;
                                    p passwords are different
                                button(class="btn btn-primary .col-lg-6" onclick='addDevice()') Add
                //============MODAL ID device=====================
                div(class="modal" id="idDevice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;")
                    .modal-dialog.modal-sm
                        .modal-content
                            div(class="modal-header")
                                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                    span(aria-hidden="true") &times;
                                h3(id='numberIdDevice')
                            div(class="modal-body idTextarea")
                    legend Marionette Deploy: (APK Deploy)
                    form(class='deployApk form-inline col-sm-12')
                        label(for="addSelectCategory").col-sm-3.control-label Apply to all devices in the current query
                            span(id="deployCount")
                        .col-sm-8
                            .col-sm-3
                                select(id="selectVersionApkToDeploy" class="span2 form-control")
                            button(class="col-sm-2 btn btn-primary" type="button" onclick='deployAPK()') Start
            //============MODAL Add new device=====================
            div(class="modal" id="addDevice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;")
                .modal-dialog.modal-sm
                    .modal-content
                        div(class="modal-header")
                            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                span(aria-hidden="true") &times;
                            h2 Add new device(s)
                        div(class="modal-body")
                            form.form-horizontal
                                .form-group
                                    label(for="commentDevice").col-sm-5.control-label ID's list:
                                    .col-sm-12.margin-top-5
                                        #idDeviceCreate(class="form-control")
                            div(class="modal-footer")
                                #copyClipboardContainer
                                    button(id="copyClipboard" class="btn btn-primary left") Copy to the clipboard
                                button(id="closeIdTextarea" class="btn btn-primary right") Add more devices...
                //script.
                //    var clip = new ZeroClipboard.Client();
                //    clip.setText('');
                //    clip.addEventListener('complete', function (client, text) {
                //        alert("Copy: " + text);
                //    });
                //    clip.addEventListener('mouseDown', function (client) {
                //        clip.setText(document.getElementById('idDeviceCreate').innerHTML);
                //    });
                //    clip.glue('copyClipboard', 'copyClipboardContainer');
                //============MODAL delete device=====================
                div(class="modal" id="deleteDevice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;")
                    .modal-dialog
                        .modal-content
                            div(class="modal-header")
                                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                    span(aria-hidden="true") &times;
                                h3 Delete device
                            div(class="modal-body")

                            div(class="modal-footer")
                                //button(class="btn btn-default" data-dismiss="modal" aria-hidden="true") Close
                                div(id='errorAddDevice' class='alert alert-danger no-show')
                                    //button(type="button" class="close" data-dismiss="alert") &times;
                                    p All fields must be filled out
                                button(class="btn btn-primary" onclick='addDevice()') Add
                //============MODAL EDIT device=====================
                div(class="modal" id="editDevice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;")
                    .modal-dialog.modal-sm
                        .modal-content
                            div(class="modal-header")
                                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                    span(aria-hidden="true") &times;
                                h3 Edit device
                            div(class="modal-body")
                                form.form-horizontal
                                    .form-group
                                        label(for="editDeviceCategory").col-sm-3.control-label School:
                                        .col-sm-9
                                            select(id="editDeviceCategory" class="form-control")
                                    .form-group
                                        label(for="filter2").col-sm-3.control-label Filter 2:
                                        .col-sm-9
                                            select(id="filter2" class="form-control")
                                    //.form-group
                                    //    label(for="addSelectVersion").col-sm-4.control-label APK version *:
                                    //    .col-sm-8
                                    //        select(id="editDeviceVersion" class="form-control")
                                    //.form-group
                                        label(for="newNameUser").col-sm-5.control-label Name:
                                        .col-sm-12.margin-top-5
                                            input(type='text' id="newNameUser" name='category' placeholder='Name User' class="form-control")
                                    .form-group
                                        label(for="newComment").col-sm-5.control-label Comment:
                                        .col-sm-12.margin-top-5
                                            textarea(type='text' id="newComment" name='category' rows='3' placeholder='Comments' class="form-control")
                            div(class="modal-footer")
                                //button(class="btn btn-default" data-dismiss="modal" aria-hidden="true") Close
                                div(id='errorEditDevice' class='alert alert-danger no-show')
                                    //button(type="button" class="close" data-dismiss="alert") &times;
                                    p All fields must be filled out
                                button(class="btn btn-primary" onclick='editDevice()') Save
                //============MODAL maps=====================
                div(class="modal" id="map" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: -1; opacity: 0 ")
                    .modal-dialog.modal-lg
                        .modal-content
                            div(class="modal-header")
                                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                    span(aria-hidden="true") &times;
                                h3 Maps
                            div(class="modal-body")
                                #maps(class="panel-body")
                                    script.
                                        var map = L.map('maps').setView([55.7422, 37.5719], 10);
                                        // add an OpenStreetMap tile layer
                                        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                                            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                                        }).addTo(map);
                                        // add a marker in the given location, attach some popup content to it and open the popup
                                        var mark = L.marker([55.7422, 37.5719]);

                //===========Script maps========================
                script.
                    function showmap(i, j) {
                        mark.addTo(map)
                        map.setView([i, j], 12);
                        mark.setLatLng(L.latLng(i, j)).update()
                        $('.map').css('z-index', '1050');
                        if(i==0||j==0){
                            $('#buttonMap').addClass('no-show');
                        }
                    }

                script(src="/js/socketTableData.js")
            //============TABS FILTERS========================
            #filters(class='tab-content')
                h2 Filters
                div(class='tabbable')
                    .col-sm-12
                        ul(class='nav nav-tabs')
                            li(role="presentation" data-tab="filtersSchool" class="current")
                                a School
                            li(role="presentation" data-tab='filtersAdd')
                                a Filter 2
                    #filtersSchool(class='nav-tab-content current')
                        #add-category.right
                                //button(class='btn btn-primary') add new category...
                        .container-fluid.container-tab
                            table(class='table table-hover table-bordered table-striped')
                                thead
                                    tr
                                        td(onclick='sort(this)',data-value="0")
                                            input(type='checkbox' id='checkAllCategory')
                                        th(colspan='2') School name
                                tbody(id='tableFilter')
                            .right
                                .btn-group
                                    a(href='#createCategory' role="button" class="btn btn-primary" data-toggle="modal") Add new school...
                                    button(class="btn btn-danger" onclick="dellCategory()" type="button") Delete
                    #filtersAdd(class='nav-tab-content')
                        .container-fluid.container-tab
                            table(class='table table-hover table-bordered table-striped')
                                thead
                                    td(onclick='sort(this)',data-value="0")
                                        input(type='checkbox' id='checkAllFilters')
                                    th name
                                    th params
                                tbody(id='filtersTable')
                            .right
                                .btn-group
                                    a(href='#createFilter' role="button" class="btn btn-primary" data-toggle="modal") Add new filter2...
                                    button(class="btn btn-danger" onclick="dellFilters()" type="button") Delete
                //============MODAL Create new category=====================
                div(class="modal" id="createCategory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;")
                    .modal-dialog.modal-sm
                        .modal-content
                            div(class="modal-header")
                                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                    span(aria-hidden="true") &times;
                                h3 Create new category
                            div(class="modal-body")
                                form
                                    .form-group
                                    input(class="form-control" id="newCategory" name='category')
                            div(class="modal-footer")
                                div(id='errorCreateCategory' class='alert alert-danger no-show')
                                    p All fields must be filled out
                                button(class="btn btn-primary" onclick="createNewCategory()" type="button") Create
                //============MODAL Create new filter=====================
                div(class="modal" id="createFilter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;")
                    .modal-dialog.modal-sm
                        .modal-content
                            div(class="modal-header")
                                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                    span(aria-hidden="true") &times;
                                h3 Create new filter
                            div(class="modal-body")
                                form(class="form-horizontal" method='post' action="/signup")
                                    .form-group
                                    input(class="form-control" id="nameFilter" name='category' placeholder='name')
                                    .form-group
                                    input(class="form-control" id="paramFilter" name='category' placeholder='parameter')
                            div(class="modal-footer")
                                div(id='errorCreateCategory' class='alert alert-danger no-show')
                                    p All fields must be filled out
                                button(class="btn btn-primary" onclick="createNewFilter()"  type="button") Create

                //============MODAL Edit category=====================
                div(class="modal" id="editCategory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;")
                    .modal-dialog.modal-sm
                        .modal-content
                            div(class="modal-header")
                                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                    span(aria-hidden="true") &times;
                                h3 Edit category
                                    #idCategory
                                        p
                            div(class="modal-body")
                                form
                                    .form-group
                                    input(type="input" class="form-control" id='newNameCategory')
                            div(class="modal-footer")
                                button( type="button" class="btn btn-primary" onclick="inputNewNameCategory()") Edit
            //==========USERS TABS===================
            #users(class='tab-content')
                h2 Users
                .container-fluid.container-tab
                    table(class='table table-hover table-bordered table-striped')
                        thead
                            tr
                                td(onclick='sort(this)',data-value="0")
                                    input(type='checkbox' id='checkAllUsers')
                                //th password
                                th name
                                th options
                                //th remove
                        tbody(id='userTable')
                    .right
                        .btn-group
                            a(href='#addUsers' role="button" class="btn btn-primary" data-toggle="modal") Add New User
                            button( type="button" class="btn btn-danger" onclick="dellUsers()") Delete
                //============MODAL Edit users=====================
                div(class="modal" id="editUsers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;")
                    .modal-dialog.modal-sm
                        .modal-content
                            div(class="modal-header")
                                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                    span(aria-hidden="true") &times;
                                h3 Edit users
                            div(class="modal-body")
                                form.form-horizontal
                                    .form-group
                                        label(for="newNameUsers").col-sm-3.control-label Name:
                                        .col-sm-9
                                            input(type="input" class="form-control" id='newNameUsers' placeholder='name')
                                    .form-group
                                        label(for="newNamepassword").col-sm-3.control-label password:
                                        .col-sm-9
                                                input(type="password" class="form-control" id='newNamepassword' placeholder='password')
                                    .form-group
                                        label(for="newNamepassword2").col-sm-3.control-label password:
                                        .col-sm-9
                                                input(type="password" class="form-control" id='newNamepassword2' placeholder='confirm password')
                            div(class="modal-footer")
                                div(id='errorUsersPassword' class='alert alert-danger no-show')
                                    p Passwords are different
                                div(id='errorUsersName' class='alert alert-danger no-show')
                                    p All fields must be filled out
                                button( type="button" class="btn btn-primary" onclick="inputNewNameUser()") Edit
                //============MODAL Add new user=====================
                div(class="modal" id="addUsers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;")
                    .modal-dialog.modal-sm
                        .modal-content
                            div(class="modal-header")
                                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                    span(aria-hidden="true") &times;
                                h3 Add new user
                            div(class="modal-body")
                                form(class="form-horizontal" method='post' action="/signup")
                                    .form-group
                                    input(name='name' class="form-control" type='text' placeholder='name' required)
                                    .form-group
                                    input(name='password' class="form-control" type='text' placeholder='password' required)
                                    button(class="btn btn-primary" type='submit') Add user
            //===========TABS SETTINGS================
            #settings(class='tab-content')
                fieldset
                    legend Marionette APK
                    div(class='form-search form-inline apk')
                        label(for='selectDefaultApkVersion') Current version:
                        select(id="selectDefaultApkVersion" class="form-control" onchange="setDefault()")

                    .container-fluid.container-tab
                        table(class='table table-hover table-bordered table-striped')
                            thead
                                tr
                                    td(onclick='sort(this)',data-value="0")
                                        input(type='checkbox' id='checkAllMarionetteAPK')
                                    th Date added
                                    th Version
                                    th Build
                            tbody(id='settingApkVersionTable')
                    .right
                        .btn-group(role='group')
                            a(href='#addMarionetteVersion' role="button" class="btn btn-primary" data-toggle="modal") Upload new APK
                            form(method="post" action='/uploadMarionetteAPK' enctype="multipart/form-data")
                                .form-group
                                input(type="file", class="form-control" name='category' value='' onchange='uploadChangeApk()')
                                input(type="submit", id="uploadApk" style="display:none;")
                            button(class="btn btn-danger" onclick='delMarionetteAPK()') Remove selected

                fieldset
                    legend Kidroid loader
                    div(class='form-search form-inline apk')
                        label(for='selectDefaultKidroidVersion') Current version:
                        select(id="selectDefaultKidroidVersion" class="form-control" onchange="setDefault()")

                    .container-fluid.container-tab
                        table(class='table table-hover table-bordered table-striped')
                            thead
                                tr
                                    td(onclick='sort(this)',data-value="0")
                                        input(type='checkbox' id='checkAllKidroidVersion')
                                    th Date added
                                    th Version
                                    th Build
                                    th Options
                            tbody(id='settingKidroidVersionTable')
                    .right
                        .btn-group(role='group')
                            a(href='#addApkVersion' role="button" class="btn btn-primary" data-toggle="modal") Upload new APK
                            button(class="btn btn-danger" onclick='delKidroidVersion()') Remove selected

                    //============MODAL Add new Marionette version=====================
                   div(class="modal" id="addMarionetteVersion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;")
                       .modal-dialog.modal-sm
                           .modal-content
                               div(class="modal-header")
                                   button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                       span(aria-hidden="true") &times;
                                   h3 Add new Marionette version
                               div(class="modal-body")
                                   form(method="post" action='/uploadMarionetteAPK' enctype="multipart/form-data")
                                       .form-group
                                       input(type="file", class="form-control" name='category' value='')
                                       button( type="submit" class="btn btn-primary") Add
                        //============MODAL Add new Apk version=====================
                div(class="modal" id="addApkVersion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;")
                    .modal-dialog.modal-sm
                        .modal-content
                            div(class="modal-header")
                                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                    span(aria-hidden="true") &times;
                                h3 Add new Apk version
                            div(class="modal-body")
                                form(method="post" action='/uploadFile' enctype="multipart/form-data")
                                    .form-group
                                    input(type="file", class="form-control" name='category' value='')
                                    button( type="submit" class="btn btn-primary") Add
            //===========TABS requests================
            #requests(class='tab-content')
                h2 Requests log
                .col-sm-12
                    h5.col-sm-2.col-sm-offset-4.right
                        label(for="ItemsPerPage").col-sm-7.control-label Items per page:
                        .form-group.col-sm-5
                            select(id="ItemsPerPage")
                                option(value='0') 10
                                option(value='20') 20
                                option(value='50') 50
                .container-fluid.container-tab
                    table(class='table table-hover table-bordered table-striped')
                        thead(class='tableTarget')
                            tr
                                th Request date
                                th Devices amount
                                th Version
                                th Filter 2
                        tbody(id='allSchedule')
                div(id='pagination' class="text-center")
            //===========TABS planning================
            #planning(class='tab-content')
                h2 Planning
                div(class='calendar')
                    script.
                        <div class="clndr-controls">
                            <div class="clndr-previous-button">&lsaquo;</div>
                            <div class="month"><%= month %></div>
                            <div class="clndr-next-button">&rsaquo;</div>
                        </div>
                //#allSchedule
                //============MODAL EDIT Schedule=====================
                div(class="modal" id="editSchedule" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;")
                    .modal-dialog.modal-sm
                        .modal-content
                            div(class="modal-header")
                                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                    span(aria-hidden="true") &times;
                                h3 Edit Schedule
                            div(class="modal-body")
                                form
                                    .form-group
                                    div(id='dateSchedule')
                                    input(class="form-control" id='timeSchedule' type='time' required)
                                    .form-group
                                    select(class="form-control" id="scheduleDeviceVersion" required)
                                    hr
                                    form
                                        .form-group
                                        input(class="form-control" type='text' id='idStart' placeholder='start id')
                                        input(class="form-control" type='text' id='idEnd' placeholder='end id')
                                        .form-group
                                        input(class="form-control category" id="autocomplete-dynamic")
                                        select(class="form-control" id="scheduleDeviceVersionFilter")
                                    button(class="btn btn-primary" onclick='finsDeviceSchedule()') Find
                                    hr
                                    #tableScheduleFind
                                        table(class='table table-hover table-bordered table-striped')
                                            thead
                                                tr
                                                    td(data-value="0")
                                                        input(type='checkbox' id='checkAllSchedule')
                                                    th id
                                                    th school
                                                    th apk_version
                                                    th update
                                                    th status
                                            tbody(id='tableSchedule')

                            div(class="modal-footer")
                                #errorAddSchedule(class='no-show') error
                                button(id="closeScheduleModal" class="btn btn-danger") Close
                                button(onclick="createSchedule()" class="btn btn-primary") Create



