doctype html
html
    head
        script(src="//code.jquery.com/jquery-1.11.3.min.js")
        title= title
        //script(src="https://code.jquery.com/jquery-1.11.1.min.js")
        link(rel='stylesheet', href='/stylesheets/clndr.css')
        //link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        //link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
        //link(rel='stylesheet', href='/stylesheets/table.css')
        link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css')
        script(src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js")
        script(src="/js/script.js")
        script(src="/js/bootstrap.js")
        //script(src="/js/bootstrap.min.js")
        script(src="/js/io.js")
        //=========Kalendar=============

        script(src="/js/json2.js")
        script(src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js")
        script(src="/js/moment-2.8.3.js")
        script(src="/js/clndr.js")
        script(src="/js/site.js")
        //=====================
        script var socket = io();




    body
        block content