doctype html
html
    head
        title= title
        script(src="https://code.jquery.com/jquery-1.11.1.min.js")
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        //link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
        //link(rel='stylesheet', href='/stylesheets/table.css')
        link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css')
        script(src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js")
        script(src="/js/script.js")
        script(src="/js/bootstrap.js")
        script(src="/js/bootstrap.min.js")

        script(src="/js/io.js")
        script var socket = io();




    body
        block content