html{
    height: 100%;
}
body {
    /*padding: 50px;*/
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: #FBFBFB;
    height: 100%;
}

a {
    color: #00B7FF;
}
.tableTarget{
    background-color: #FBFBFB;
}
#devices, #filters, #users, #settings {
    padding: 10px;
    background: #fff;
    border: 1px solid rgb(236, 236, 236);
}

#conteiner {
    margin-left: 200px;
    min-width: 1100px;
}

#usermenu {
    text-align: right;
    padding-right: 20px;
    color: #fff;
}
/*.container-tab{*/
    /*height: 63.7vh;*/
    /*overflow-x: hidden;*/
/*}*/
#deployKidroid{
    margin-top: 20px;
}
#mapPanel {
    height: 350px;
    width: 30%;
    float: right;
    margin-left: 10px;
}

#maps{
    height: 500px;
}


#header {
    background: #408EBA;
    width: 100%;
    height: 40px;
}
fieldset {
    border: 2px solid #63615e;
    padding: 5px;
    border-radius: 6px;
}
legend{
    margin-bottom: 0;
    margin-left: 17px;
    padding: 0 10px;
    width: inherit;
    border: none;
}
#filter{
    margin-bottom: -10px;
}
#logo{
    background: rgb(58, 128, 167);
    height: 100%;
    width: 200px;
}
/*==============TABS===================*/
#tab {
    position: fixed;
    float: left;
    width: 200px;
    height: 100vh;
    background: #c9c7c4;
}

.content-tabs-body-right {
    float: left;
    width: 70%;
}

ul.tabs, ul.nav-tabs {
    margin: 0px;
    padding: 0px;
    list-style: circle;
    width: 100%;
}

ul.tabs li, ul.nav-tabs li {
    background: none;
    color: #6E6E6E;
    display: inline-block;
    padding: 10px 0px;
    cursor: pointer;
    width: 200px;
    padding-left: 10px;
    border-bottom: 1px solid rgb(224, 224, 224);
    border-top: 1px solid rgb(224, 224, 224);
}

ul.tabs li.current, ul.nav-tabs li.current {
    background: #eee;
}

.tab-content, .nav-tab-content {
    display: none;
    padding: 0 50px 50px 0;
    opacity: 0;
}

.tab-content.current, .nav-tab-content.current {
    display: block;
    opacity: 1;
}

/*===========================*/
.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    visibility: hidden;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}
.tabs i{
    float: right;
}
#tab li:hover{
    color: #6E6E6E;
}

#add-device, #add-users, #add-category {
    float: right;
    margin-bottom: 20px;
}
#add-category a{
    margin-left: 20px;
}
.no-show {
    display: none;
}

.show {
    display: block;
}
#errorAddDevice, #errorCreateCategory{
    width: 80%;
    float: left;
    text-align: left;
    margin: 0;
    font-size: 14px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    background: #FFF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=) no-repeat center center;
    width: 1em;
    border-left: 1px solid #BBB;
    opacity: .5; /* shows Spin Buttons per default (Chrome >= 39) */
    /*position: absolute;*/
    top: 0;
    right: 0;
    bottom: 0;
}

input[type="number"]::-webkit-inner-spin-button:hover,
input[type="number"]::-webkit-inner-spin-button:active {
    box-shadow: 0 0 2px #0CF;
    opacity: .8;
}
#tableScheduleFind{
    max-height: 200px;
    overflow: scroll;
    overflow-x: hidden;
}
#dateSchedule{
    position: relative;
    float: left;
}

/*==========AUTOCOMPLETE==========================*/
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }

/*table{*/
/*width: 100%;*/
/*}*/
/*.bordered {*/
/*border: solid #ccc 1px;*/
/*-moz-border-radius: 6px;*/
/*-webkit-border-radius: 6px;*/
/*border-radius: 6px;*/
/*-webkit-box-shadow: 0 1px 1px #ccc;*/
/*-moz-box-shadow: 0 1px 1px #ccc;*/
/*box-shadow: 0 1px 1px #ccc;*/
/*}*/

/*tbody tr:hover {*/
/*background: #fbecb6;*/
/*-o-transition: all 0.1s ease-in-out;*/
/*-webkit-transition: all 0.1s ease-in-out;*/
/*-moz-transition: all 0.1s ease-in-out;*/
/*-ms-transition: all 0.1s ease-in-out;*/
/*transition: all 0.1s ease-in-out;*/
/*}*/

/*.bordered td, .bordered th {*/
/*border-left: 1px solid #ccc;*/
/*border-top: 1px solid #ccc;*/
/*padding: 10px;*/
/*text-align: left;*/
/*}*/

/*.bordered th {*/
/*text-align: center;*/
/*background-color: #dce9f9;*/
/*background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));*/
/*background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);*/
/*background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);*/
/*background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);*/
/*background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);*/
/*background-image:         linear-gradient(top, #ebf3fc, #dce9f9);*/
/*-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;*/
/*-moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;*/
/*box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;*/
/*border-top: none;*/
/*text-shadow: 0 1px 0 rgba(255,255,255,.5);*/
/*}*/

/*.bordered td:first-child, .bordered th:first-child {*/
/*border-left: none;*/
/*}*/

/*.bordered th:first-child {*/
/*-moz-border-radius: 6px 0 0 0;*/
/*-webkit-border-radius: 6px 0 0 0;*/
/*border-radius: 6px 0 0 0;*/
/*}*/

/*.bordered th:last-child {*/
/*-moz-border-radius: 0 6px 0 0;*/
/*-webkit-border-radius: 0 6px 0 0;*/
/*border-radius: 0 6px 0 0;*/
/*}*/

/*.bordered th:only-child{*/
/*-moz-border-radius: 6px 6px 0 0;*/
/*-webkit-border-radius: 6px 6px 0 0;*/
/*border-radius: 6px 6px 0 0;*/
/*}*/

/*.bordered tr:last-child td:first-child {*/
/*-moz-border-radius: 0 0 0 6px;*/
/*-webkit-border-radius: 0 0 0 6px;*/
/*border-radius: 0 0 0 6px;*/
/*}*/

/*.bordered tr:last-child td:last-child {*/
/*-moz-border-radius: 0 0 6px 0;*/
/*-webkit-border-radius: 0 0 6px 0;*/
/*border-radius: 0 0 6px 0;*/
/*}*/

.login {
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: -moz-linear-gradient(top, #fff, #eee);
    background-image: -ms-linear-gradient(top, #fff, #eee);
    background-image: -o-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(top, #fff, #eee);
    /*height: 300px;*/
    width: 400px;
    margin: -200px 0 0 -230px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.login:before {
    content: '';
    position: absolute;
    z-index: -1;
    border: 1px dashed #ccc;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    -moz-box-shadow: 0 0 0 1px #fff;
    -webkit-box-shadow: 0 0 0 1px #fff;
    box-shadow: 0 0 0 1px #fff;
}

.login input {
    background: #f1f1f1;
    padding: 15px 15px 15px 30px;
    margin: 0 0 10px 0;
    width: 353px; /* 353 + 2 + 45 = 400 */
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}

.submit {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dce9f9), to(#2980b9));
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(top, #3498db, #2980b9);

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    border-width: 1px;
    border-style: solid;
    border-color: #8493d6;

    float: left;
    height: 35px;
    padding: 0;
    width: 120px;
    cursor: pointer;
    font: 15px Arial, Helvetica;
    color: #fff;
}

.submit:hover, #submit:focus {
    background-color: #2980b9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2980b9), to(#3498db));
    background-image: -webkit-linear-gradient(top, #2980b9, #3498db);
    background-image: -moz-linear-gradient(top, #2980b9, #3498db);
    background-image: -ms-linear-gradient(top, #2980b9, #3498db);
    background-image: -o-linear-gradient(top, #2980b9, #3498db);
    background-image: linear-gradient(top, #2980b9, #3498db);
}

.submit:active {
    outline: none;

    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

.submit::-moz-focus-inner {
    border: none;
}

/*ul {*/
/*padding: 0px;*/
/*}*/
/*ul li {*/
/*margin: 0 2px;*/
/*cursor: pointer;*/
/*padding: 1px 6px;*/
/*border: solid 1px #666;*/
/*display : inline;*/
/*}*/
.current {
}

.tab-content {
    display: none;
    padding: 15px;
}

.tab-content.current {
    display: inherit;
}
.form-search select{
    margin-left: 30px;
}
.form-search select{
    margin-left: 30px;
}
#paged th, td{
    padding: 5px 15px!important;
    vertical-align: middle!important;
}
#paged caption h4{
    margin-top: 0px;
    float: left;
}
.form-horizontal .control-label{
    text-align:left !important;
}
.modal-sm {
    width: 400px!important;
}
.margin-top-5{
    margin-top: 10px;
}
#map{
    display: block!important;
}
.deployApk{
    margin-left: 10px;
    margin-top: -12px;
}
.deployApk label{
    margin-top: 10px;
}
.deployApk input[type=checkbox]{
    float: left;
    margin-top: 10px;
}
.glyphicon{
    float: right;
    cursor: pointer;
}
.pagination li{
    cursor: pointer;
}