extends layout

block content
    form(action="/login", method="post" class="login")
        h1 Welcome to Kidroid!
        p.subheading Please Login To Your Account
        label Username
        input(type="text", name="name" class='username')
        label Password
        input(type="password", name="password" class='password')
        button(type="submit" class='btn btn-primary right') login
        if message.length > 0
            p.alert.alert-danger.col-sm-12 #{message}