doctype html
html(lang="ru")
    head

        //script(src="//code.jquery.com/jquery-1.11.3.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
        //<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        title= title
        meta(name="viewport" content="width=device-width initial-scale=1, maximum-scale=1, user-scalable=no")
        //script(src="https://code.jquery.com/jquery-1.11.1.min.js")
        link(rel='stylesheet', href='/stylesheets/all.css')
        //link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        //================NEW STYLE=========================
        //link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        //link(rel='stylesheet', href='/stylesheets/new/sb-admin.css')
        //link(rel='stylesheet', href='/stylesheets/new/plugins/morris.css')
        //link(rel='stylesheet', href='/stylesheets/new/font-awesome.min.css')
        //link(rel='stylesheet', href='/stylesheets/new/plugins/autocomplete.css')

        //===========OLD STYLE==================
        //link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        //link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
        //link(rel='stylesheet', href='/stylesheets/style.css')
        //========================
        //link(rel='stylesheet', href='/stylesheets/new/style.css')
        //=================================================
        //link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
        //link(rel='stylesheet', href='/stylesheets/table.css')
        link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css')
        script(src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js")
        script(src="/js/all.js")
        //==========CLIPBOARD========================
        //script(src="/js/ZeroClipboard.js")
        //=============================
        //script(src="/js/script.js")
        //script(src="/js/bootstrap.js")
        ////script(src="/js/bootstrap.min.js")
        //script(src="/js/io.js")
        //=========Kalendar=============

        //script(src="/js/json2.js")
        script(src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js")
        script(src="//cdn.polyfill.io/v1/polyfill.js?features=Array.from")
        //script(src="/js/moment-2.8.3.js")
        //script(src="/js/clndr.js")
        //script(src="/js/calendar.js")
        //script(src="/js/lodash.js")
        //=================AUTOCOMPLETE====
        //script(src="/js/jquery.autocomplete.js")
        //script(src="/js/jquery.mockjax.js")
        //script(src="/js/autocomplete.min.js")

        //======================





    body
        #wrapper
            block content