//
   Created by nikolay_ivanisenko on 30.06.2015.

#rules(class='tab-content')
   h2 Firewall rules
   #state.container-fluid
       .radio
          label
             input(type='radio' name='radio' data-name='black')
             span Allow access to all resources, except the black list
       .radio
          label
             input(type='radio' name='radio' data-name='white')
             span Allow access to the white list resources only
       .radio
          label
             input(type='radio' name='radio' data-name='all')
             span Allow all
       .left
           button( type="button" class="btn btn-primary" onclick="firewallRules.saveAccess()") Save
   .container-fluid
       fieldset.col-xs-5
          legend Black list
          .col-xs-12
             table(class='table table-hover table-bordered table-striped col-xs-6')
                thead
                   tr
                      td.checkColum
                         input(type='checkbox' id='checkAllBlackList')
                      th IP
                      //th remove
                tbody(id='blackList')
                    tr
             .right
                .btn-group
                   a(href="#addBlackList" type="button" class="btn btn-primary" onclick="" data-toggle="modal") add record
                   button( type="button" class="btn btn-danger" onclick="firewallRules.removeFromList('blackList')") remove selected
       fieldset.col-xs-5
          legend White list
          .col-xs-12
             table(class='table table-hover table-bordered table-striped')
                thead
                   tr
                      td.checkColum(onclick='sort(this)',data-value="0")
                         input(type='checkbox' id='checkAllWhiteList')
                      th IP
                      //th remove
                tbody(id='whiteList')
                   tr
             .right
                .btn-group
                   a(href="#addWhiteList" type="button" class="btn btn-primary" onclick="" data-toggle="modal") add record
                   button( type="button" class="btn btn-danger" onclick="firewallRules.removeFromList('whiteList')") remove selected

         //============MODAL Add new device=====================
   div(class="modal" id="addBlackList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;")
        .modal-dialog.modal-sm
            .modal-content
                div(class="modal-header")
                    button(type="button" id='closeAddBlackList' class="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                    h2 Add IP in black list
                div(class="modal-body")
                    form.form-horizontal
                        .form-group
                            label(for="addSelectCategory").col-sm-3.control-label add ip:
                            .col-sm-9
                                input(id="addIpToBlackList" placeholder='ip' class="span2 form-control category")
                div(class="modal-footer")
                    //button(class="btn btn-default" data-dismiss="modal" aria-hidden="true") Close
                    div(id='errorAddBlackList' class='alert alert-danger no-show .col-lg-1')
                        //button(type="button" class="close" data-dismiss="alert") &times;
                        p Address is not valid
                    div(id='completeAddBlackList' class='alert alert-success no-show .col-lg-1')
                        //button(type="button" class="close" data-dismiss="alert") &times;
                        p Address is valid
                    button(class="btn btn-primary .col-lg-6" onclick='firewallRules.addBlackList()') Add

         //============MODAL Add new device=====================
   div(class="modal" id="addWhiteList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;")
        .modal-dialog.modal-sm
            .modal-content
                div(class="modal-header")
                    button(type="button" id='closeAddWhiteList' class="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                    h2 Add IP in white list
                div(class="modal-body")
                    form.form-horizontal(onsubmit="firewallRules.addWhiteList()")
                        .form-group
                            label(for="addSelectCategory").col-sm-3.control-label add ip:
                            .col-sm-9
                                input(id="addIpToWhiteList" placeholder='ip' class="span2 form-control category")
                div(class="modal-footer")
                    //button(class="btn btn-default" data-dismiss="modal" aria-hidden="true") Close
                    div(id='errorAddWhiteList' class='alert alert-danger no-show .col-lg-1')
                        //button(type="button" class="close" data-dismiss="alert") &times;
                        p Address is not valid
                    div(id='completeAddWhiteList' class='alert alert-success no-show .col-lg-1')
                        //button(type="button" class="close" data-dismiss="alert") &times;
                        p Address is valid
                    button(class="btn btn-primary .col-lg-6" onclick='firewallRules.addWhiteList();') Add