//
   Created by nikolay_ivanisenko on 30.06.2015.

#rules(class='tab-content')
   h2 Firewall rules
   .radio
      label
         input(type='radio' name='radio')
         span Allow access to all resources, except the black list
   .radio
      label
         input(type='radio' name='radio')
         span Allow access to the white list resources only
   .radio
      label
         input(type='radio' name='radio')
         span Allow all

   fieldset
      legend list:
      .col-xs-6
         h3 Black list
         table(class='table table-hover table-bordered table-striped')
            thead
               tr
                  td.checkColum(onclick='sort(this)',data-value="0")
                     input(type='checkbox' id='checkAllBlackList')
                  th id
                  //th remove
            tbody(id='blackList')
         .right.col-xs-4
            .btn-group
               button( type="button" class="btn btn-primary" onclick="") add record
               button( type="button" class="btn btn-danger" onclick="") remove selected
      .col-xs-6
         h3 White list
         table(class='table table-hover table-bordered table-striped')
            thead
               tr
                  td.checkColum(onclick='sort(this)',data-value="0")
                     input(type='checkbox' id='checkAllWhiteList')
                  th id
                  //th remove
            tbody(id='whiteList')
         .right.col-xs-4
            .btn-group
               button( type="button" class="btn btn-primary" onclick="") add record
               button( type="button" class="btn btn-danger" onclick="") remove selected
      .left
         button( type="button" class="btn btn-primary" onclick="") Save