//
   Created by nikolay_ivanisenko on 30.06.2015.

#rules(class='tab-content')
   h2 Firewall rules
   .radio
      label
         input(type='radio' name='radio' checked='checked')
         span Allow access to all resources, except the black list
   .radio
      label
         input(type='radio' name='radio')
         span Allow access to the white list resources only
   .radio
      label
         input(type='radio' name='radio')
         span Allow all

   fieldset
      legend Black list
      .col-xs-6
         table(class='table table-hover table-bordered table-striped')
            thead
               tr
                  td.checkColum(onclick='sort(this)',data-value="0")
                     input(type='checkbox' id='checkAllBlackList')
                  th id
                  //th remove
            tbody(id='blackList')
         .right.col-xs-4
            .btn-group
               a(href="#addBlackList" type="button" class="btn btn-primary" onclick="" data-toggle="modal") add record
               button( type="button" class="btn btn-danger" onclick="") remove selected
   fieldset
      legend White list
      .col-xs-6
         table(class='table table-hover table-bordered table-striped')
            thead
               tr
                  td.checkColum(onclick='sort(this)',data-value="0")
                     input(type='checkbox' id='checkAllWhiteList')
                  th id
                  //th remove
            tbody(id='whiteList')
         .right.col-xs-4
            .btn-group
               a(href="#addWhiteList" type="button" class="btn btn-primary" onclick="" data-toggle="modal") add record
               button( type="button" class="btn btn-danger" onclick="") remove selected
   .left
      button( type="button" class="btn btn-primary" onclick="") Save


         //============MODAL Add new device=====================
   div(class="modal" id="addBlackList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;")
        .modal-dialog.modal-sm
            .modal-content
                div(class="modal-header")
                    button(type="button" id='closeAddBlackList' class="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                    h2 Add ID in black list
                div(class="modal-body")
                    form.form-horizontal
                        .form-group
                            label(for="addSelectCategory").col-sm-3.control-label add id:
                            .col-sm-9
                                input(id="addSelectCategory" placeholder='id' class="span2 form-control category")
                div(class="modal-footer")
                    //button(class="btn btn-default" data-dismiss="modal" aria-hidden="true") Close
                    div(id='errorAddBlackList' class='alert alert-danger no-show .col-lg-1')
                        //button(type="button" class="close" data-dismiss="alert") &times;
                        p All fields must be filled out
                    div(id='completeAddBlackList' class='alert alert-success no-show .col-lg-1')
                        //button(type="button" class="close" data-dismiss="alert") &times;
                        p Devices are adding
                    button(class="btn btn-primary .col-lg-6" onclick='addBlackList()') Add

         //============MODAL Add new device=====================
   div(class="modal" id="addWhiteList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;")
        .modal-dialog.modal-sm
            .modal-content
                div(class="modal-header")
                    button(type="button" id='closeAddWhiteList' class="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                    h2 Add ID in white list
                div(class="modal-body")
                    form.form-horizontal
                        .form-group
                            label(for="addSelectCategory").col-sm-3.control-label add id:
                            .col-sm-9
                                input(id="addSelectCategory" placeholder='id' class="span2 form-control category")
                div(class="modal-footer")
                    //button(class="btn btn-default" data-dismiss="modal" aria-hidden="true") Close
                    div(id='errorAddWhiteList' class='alert alert-danger no-show .col-lg-1')
                        //button(type="button" class="close" data-dismiss="alert") &times;
                        p All fields must be filled out
                    div(id='completeAddWhiteList' class='alert alert-success no-show .col-lg-1')
                        //button(type="button" class="close" data-dismiss="alert") &times;
                        p Devices are adding
                    button(class="btn btn-primary .col-lg-6" onclick='addWhiteList()') Add